body{
    margin: 0;
}
header{
    background-color: #5A189A;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
header h1{
    color: white;
}
header img{
    border-radius: 150px;
    width: 300px;
    /* border: 10px solid #483a94; */
    border: 10px solid #E0AAFF;
}